/*===== COLLECTION =====*/
.collection__container {
  row-gap: 2rem;
  justify-content: center;
}
.collection__card {
  position: relative;
  display: flex;
  height: 328px;
  background-color: $dark-color-lighten;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.collection__data {
  align-self: flex-end;
}
.collection__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
}
.collection__name {
  font-size: $bigger-font-size;
  margin-bottom: 0.25rem;
}
.collection__description {
  margin-bottom: $mb-2;
}
.collection__card:hover {
  transform: translateY(-0.5rem);
}
